### Exercises

### 1.Create connection to the mysql on localhost.

In [ ]:
from mysql.connector import connect, Error
try:
    con=connect(host="localhost",user="root",password="2282001")
    print("Connection Established")
except Error as e:
    print("Error while connecting to MySQL", e)

### 2.List all the databases available in your system.

In [ ]:
try:
    cursor=con.cursor()
    cursor.execute("Show databases")
    print("Databases are: ")
    for i in cursor:
        print(i)
except Error as e:
    print(e)

### 3. Create a database dbStudent. Connect to it.

In [ ]:
try:
    cursor.execute("Create database dbStudent")
    print("Database created")
    cursor.execute("use dbStudent")
except Error as e:
    print(e)

### 4.Create a table tblStudent with columns of suitable type: rollno, name, birthdate, gender, cmarks, cppmarks, pythonmarks,totalmarks, percentage and grade.

In [ ]:
#Create a table tblStudent with columns of suitable type: rollno, name, birthdate, gender, cmarks, cppmarks, pythonmarks,totalmarks, percentage and grade.
try:
    cursor.execute("use dbStudent")
    sql="""
    create table tblStudent(
        rollno int primary key,
        name varchar(20),
        birthdate date,
        gender varchar(10),
        cmarks int,
        cppmarks int,
        pythonmarks int,
        totalmarks int,
        percentage decimal(5,2),
        grade varchar(2))"""
    cursor.execute(sql)
    print("Table created")
except Error as e:
    print(e)

### 5.Insert at least 10 rows (only rollno, name, birthdate, gender, cmarks, cppmarks, pythonmarks) into tblStudent. Use different ways for the same (as shown in various examples shown above).

In [ ]:
# Insert at least 10 rows (only rollno, name, birthdate, gender, cmarks, cppmarks, pythonmarks) into tblStudent. Use different ways for the same (as shown in various examples shown above).
try:
    sql="insert into tblStudent(rollno, name, birthdate, gender, cmarks, cppmarks, pythonmarks) values(5,'Bharat','2000-12-21','Male',70,89,50)"
    cursor.execute(sql)
    con.commit()
    sql="insert into tblStudent(rollno, name, birthdate, gender, cmarks, cppmarks, pythonmarks) values(%s,%s,%s,%s,%s,%s,%s)"
    val=[
        (1,"Ram","0001-01-01","Male",90,80,70),
         (2,"Sita","0001-01-02","Female",80,70,60),
         (3,"laxman","2002-12-21","Male",70,60,50)
            (4,"Hanuman","1972-01-21","Male",94,60,48),
            (7,"Shatrughan",'1972-01-21',"Male",94,60,48),
            (6,"Sugariv",'1920-03-23',"Male",54,68,48),
            (8,'Raghu','1923-02-12','Male',84,60,88),
            (9,'Dasharath','1912-12-22',"Male",94,60,48),
            (10,'Kaushlya','1948-12-03','Female',87,90,78)
            (11,'Kaikai','1923-04-22','Female',45,34,32),
            (12,'Manthra','1023-09-23','Female',34,50,32),
         ]
    cursor.executemany(sql,val)
    con.commit()
    print("Data inserted")
except Error as e:
    print(e)

### 6.Print all rows (only rollno, name, birthdate, gender, cmarks, cppmarks, pythonmarks) on screen (as shown in various examples shown above).

In [ ]:
try:
    sql="select rollno, name, birthdate, gender, cmarks, cppmarks, pythonmarks from tblStudent"
    cursor.execute("use dbStudent")
    cursor.execute(sql)
    print("Data from table")
    for i in cursor:
        print(i)
except Error as e:
    print(e)

### 7.Compute & update totalmarks for all rows in table.

In [ ]:
try:
    sql="update tblStudent set totalmarks=cmarks+cppmarks+pythonmarks"
    cursor.execute(sql)
    con.commit()
    print("Total marks updated")
except Error as e:
    print(e)

### 8.Compute & update percentage for all rows in table.

In [ ]:
try:
    sql="update tblStudent set percentage=(totalmarks/3)"
    cursor.execute(sql)
    con.commit()
    print("Percentage updated")
except Error as e:
    print(e)

### 9.Compute & update grade for all rows in table.

In [ ]:
try:
    sql="update tblStudent set grade=case when percentage>=90 then 'A+' when percentage>=80 then 'A' when percentage>=70 then 'B+' when percentage>=60 then 'B' when percentage>=50 then 'C+' when percentage>=40 then 'C' else 'F' end"
    cursor.execute(sql)
    con.commit()
    print("Grade updated")
except Error as e:
    print(e)

### 10.Print all rows (all columns).

In [ ]:
try:
    sql="select * from tblStudent"
    cursor.execute(sql)
    print("Data from table")
    for i in cursor:
        print(i)
except Error as e:
    print(e)

### 11.Print all rows with only columns: rollno, name, percentage and grade.

In [ ]:
try:
    sql="select rollno, name, percentage, grade from tblStudent"
    cursor.execute(sql)
    print("Data from table")
    for i in cursor:
        print(i)
except Error as e:
    print(e)

### 12.Print merit list.

In [ ]:
try:
    sql="select rollno,name,percentage,grade from tblStudent order by percentage desc"
    cursor.execute(sql)
    print("Data from table")
    merit=1
    for i in cursor:
        print(merit,i)
        merit+=1
except Error as e:
    print(e)

### 13.Print first two toppers.

In [ ]:
try:
    sql="""select rollno,name,percentage,grade from tblStudent WHERE percentage >= (
    SELECT MAX(percentage)
    FROM tblStudent
    WHERE percentage NOT IN (
        SELECT MAX(percentage)
        FROM tblStudent
    )) order by percentage desc"""
    cursor.execute(sql)
    print("Two toppers are")
    merit=1
    for i in cursor:
        print(merit,i)
        merit+=1
        if merit==3:
            break
except Error as e:
    print(e)

### 14.Print girl students who have failed in at least two subjects.

In [ ]:
try:
    sql="select * from tblStudent where ((cppmarks<40 and pythonmarks<40 or cmarks<40) or (pythonmarks<40 or cmarks<40 and cppmarks<40) or (cmarks<40 or pythonmarks<40 and cppmarks<40)) and gender='Female'" 
    cursor.execute(sql)
    print("Data from table")
    for i in cursor:
        print(i)
except Error as e:
    print(e)

### 15.Print youngest female topper.

In [ ]:
try:
    sql="select rollno,name,percentage from tblStudent where percentage in(select max(percentage) from tblStudent where birthdate in (select max(birthdate) from tblStudent where gender='Female' ))"
    cursor.execute(sql)
    print("Data from table")
    for i in cursor:
        print(i)
except Error as e:
    print(e)

### 16. Print oldest male topper.

In [ ]:
try:
    sql="select rollno,name,percentage from tblStudent where percentage in(select max(percentage) from tblStudent where birthdate in (select min(birthdate) from tblStudent where gender='Male' ))"
    cursor.execute(sql)
    print("Data from table")
    for i in cursor:
        print(i)
except Error as e:
    print(e)

### 17.Change birth month to January who were born in December.

In [ ]:
try:
    sql="update tblStudent set birthdate=replace(birthdate,'-12-','-01-') where month(birthdate)=12"
    cursor.execute(sql)
    con.commit()
    print("Birthdate updated")
except Error as e:
    print(e)

### 18.Change birthdate of topper student as 01-01-2000.

In [ ]:
try:
    # sql="update tblStudent set birthdate='2000-01-01' where percentage =(select max(percentage) from tblStudent)"
    sql='''
    WITH MaxPercentage AS (
    SELECT MAX(percentage) AS max_percentage
    FROM tblStudent
    )
    UPDATE tblStudent
    SET birthdate = '2000-01-01'
    WHERE percentage = (SELECT max_percentage FROM MaxPercentage);
    '''
    cursor.execute(sql)
    con.commit()
    print("Birthdate updated")
except Error as e:
    print(e)

### 19.List all students whose birthdate is yet to come in 2023.

In [ ]:
try:
    sql="select * from tblStudent where MONTH(birthdate)>month(current_date()) or (MONTH(birthdate)>month(current_date()) and DAY(birthdate)>day(current_date()))"
    cursor.execute(sql)
    print("Data from table")
    for i in cursor:
        print(i)
except Error as e:
    print(e)

### 20.Create a stored procedure for inserting row in table. Show usage of it.

In [ ]:
# Create a stored procedure for inserting row in table. 
try:
    sql="""
    CREATE PROCEDURE insertStudents(
        IN rollno1 int,
        IN name1 varchar(20),
        IN birthdate1 date,
        IN  gender1 varchar(10),
        IN cmarks1 int, 
        In cppmarks1 int,
        IN pythonmarks1 int)
    BEGIN
        insert into tblStudent(rollno, name, birthdate, gender, cmarks, cppmarks, pythonmarks) values(rollno1, name1, birthdate1, gender1, cmarks1, cppmarks1, pythonmarks1); 
    END
        """
    cursor.execute(sql)
    con.commit()
    print("Procedure created")
except Error as e:
    print(e)

In [ ]:
# Show usage of it.
try:
    cursor.callproc('insertStudents',(123, 'John', '2000-01-05','Male', 85, 90, 78))
    con.commit()
    print("Data inserted")
except Error as e:
    print(e)

### 21. Create a stored procedure for fetching only female student rows.  Show usage of it.

In [ ]:
try:
    sql="""
    CREATE PROCEDURE showGirls()
    BEGIN
        select * from tblStudent where gender='Female';
    END
    """
    cursor.execute(sql)
    con.commit()
    print("Procedure created")
except Error as e:
    print(e)

In [ ]:
#Show usage of it.
try:
    cursor.callproc('showGirls')
    print("Data from table")
    for i in cursor.stored_results():
        print(i.fetchall())
except Error as e:
    print(e)

### 22.Create a stored procedure for fetching student records having grade as a specific parameter given by user. Show usage of it.

In [ ]:
try:
    sql="""
    CREATE PROCEDURE showGrades()
    BEGIN
        select * from tblStudent where NOT grade='NULL';
    END
    """
    cursor.execute(sql)
    con.commit()
    print("Procedure created")
except Error as e:
    print(e)

In [ ]:
try:
    cursor.callproc('showGrades')
    print("Data from table")
    for i in cursor.stored_results():
        print(i.fetchall())
except Error as e:
    print(e)